:root {
  --background-upper: #5e81d1;
  --background-second-level: #f87500;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ff8d27;
}

input {
  display: block;
}

.header {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--background-upper);
}

.header__elements {
  display: flex;
  justify-content: space-between;
}

.header__element {
  list-style: none;
  padding: 10px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__link--bold {
  font-weight: bold;
}

.main-container {
  height: 100%;
}

.main-container__header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background-color: var(--background-second-level);
}

.main-container__icon {
  font-size: 40px;
}

.main-container__text {
  font-size: 30px;
}

.general-form {
  padding: 10px;
  padding-top: 20px;
}
.general-form__input-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.general-form__input-text--margin {
  margin-right: 10px;
}
.general-form__container {
  display: flex;
  align-items: center;
}

.button-modifier {
  margin-top: 10px;
}
